body, html{
    height:100%;
    margin: 0;
    padding: 0;
}

div#map{
    height:100%;
    width:100%;
}

div#overlay {
    height:100%;
    width:100%;
    z-index: 2000;
    top:0;
    left: 0;
    position: absolute;
}

.bordered {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #eeeeee;
    padding: 10px;
    opacity:0.8;
}

.head {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Coda Caption', sans-serif;
    height: 80px;
}

.head h1 {
    font-size: 36pt;
}

.unit {
    margin-top: 10px;
}

sup.small {
    font-size: 15pt;
    top: -30px;
}
